ol li {
    background-color: yellow;
}

ol li:nth-child(even){
    color: green;
}

ol li:nth-child(odd){
    text-transform: uppercase;
}
/* Segunda questão */
h1,h3 {
    color: red;
}

h1 em, h3 em{
    font-size: 40px;
    border: 1px solid black;
}
/* Terceira questão */
li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

/* Quarta questão */

.linguagens li:nth-child(1) {
        color: blue;
}

.linguagens li:nth-child(2) {
        color: blue;
}

.linguagens li:nth-child(3) {
        color: blue;
}

.java {
    background-color: pink;
}

/* QUINTA questão */

.aliados li:nth-child(1) a:hover {
    font-weight: bold;
    color: orange;
}

.aliados li:nth-child(2) a:hover {
    font-weight: bold;
    color: #04AA6D;
}

.aliados li:nth-child(3) a:hover {
    font-weight: bold;
    color: black;
}

.aliados li:nth-child(4) a:hover {
    font-weight: bold;
    color: yellow;
}

.aliados li:nth-child(5) a:hover {
    font-weight: bold;
    color:#006066;
}



    