.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 200px;

  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 550px;
  }
  
  .baloon {
    position: absolute;
    top: 400px;
    left: 400px;
    z-index: 0;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 2;
    top: 440px;
    left: 425px;
    
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 700px;
    top: 550px;
    
  }